# For FB Login
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# Add credentials for a Pandora partner. 
# Pick one from http://pan-do-ra-api.wikia.com/wiki/Json/5/partners:
PANDORA_USERNAME=
PANDORA_PASSWORD=
PANDORA_DEVICE_ID=
PANDORA_ENCRYPTION_KEY=
PANDORA_DECRYPTION_KEY=


# For ElasticSearch on MacOS X
JAVA_OPTS=-d32 -server
ESJAVA_OPTS=-d32 -server
